@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de reestablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Se ha enviado un enlace de confirmación a tu correo electrónico.
</p>
