@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de reestablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido reestablecida. Por favor inicia sesión dando <a asp-page="./Login"> click aquí</a>.
</p>
