<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestor.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md" id="myTopnav">

                <div class="nav-branding">
                    <img src="https://conapam.go.cr/wp-content/uploads/2023/02/logo-conapam-JD.png" class="rounded" style="height:70px;" alt="...">
                </div>

                <ul class="nav-menu">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/Dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Beneficiario" asp-action="ListarBeneficiario">Lista de beneficiarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Beneficiario" asp-action="AgregarBeneficiario">Agregar beneficiario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="DetalleAlternativa" asp-action="ListarDetalleAlternativa">Registro de alternativas asignadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Beneficiario" asp-action="CantidadTotalBeneficiarios">Cantidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="DetalleAlternativa" asp-action="MontosTotales">Montos Totales</a>
                    </li>
                        <partial name="_LoginPartial" />
                </ul>
               
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/_Layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
