@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RED DE CUIDO HOJANCHA</h1>
    <p>ASOCIACIÓN PARA LA ATENCIÓN DEL ADULTO MAYOR DE HOJANCHA GUANACASTE</p>
</div>
