@model Gestor.Models.Beneficiario

@{
    ViewData["Title"] = "EditarBeneficiario";
}

<h1>EditarBeneficiario</h1>

<h4>Beneficiario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarBeneficiario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idBeneficiario" class="control-label"></label>
                <input asp-for="idBeneficiario" class="form-control" />
                <span asp-validation-for="idBeneficiario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeNacimiento" class="control-label"></label>
                <input asp-for="FechaDeNacimiento" class="form-control" />
                <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <input asp-for="EstadoCivil" class="form-control" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distrito" class="control-label"></label>
                <input asp-for="Distrito" class="form-control" />
                <span asp-validation-for="Distrito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngresoEconomicoYOrigen" class="control-label"></label>
                <input asp-for="IngresoEconomicoYOrigen" class="form-control" />
                <span asp-validation-for="IngresoEconomicoYOrigen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaEncargada" class="control-label"></label>
                <input asp-for="PersonaEncargada" class="form-control" />
                <span asp-validation-for="PersonaEncargada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroPersonaEncargada" class="control-label"></label>
                <input asp-for="NumeroPersonaEncargada" class="form-control" />
                <span asp-validation-for="NumeroPersonaEncargada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alternativa1" class="control-label"></label>
                <input asp-for="Alternativa1" class="form-control" />
                <span asp-validation-for="Alternativa1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alternativa2" class="control-label"></label>
                <input asp-for="Alternativa2" class="form-control" />
                <span asp-validation-for="Alternativa2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alternativa3" class="control-label"></label>
                <input asp-for="Alternativa3" class="form-control" />
                <span asp-validation-for="Alternativa3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alternativa4" class="control-label"></label>
                <input asp-for="Alternativa4" class="form-control" />
                <span asp-validation-for="Alternativa4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alternativa5" class="control-label"></label>
                <input asp-for="Alternativa5" class="form-control" />
                <span asp-validation-for="Alternativa5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
