body {
    background-image: none;
    background-color: #154360;
    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
    margin: 40px auto;
    box-shadow: 2px 2px 10px black;
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: scale(1.1);
    }


.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}

div {
    margin: 10px;
}
