/* Importar una fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Estilos generales para el documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; /* Aplicar la fuente importada a todos los elementos */
}

/* Definir variables de color personalizadas */
:root {
    --Border-color: #3f0097;
    --one-use-color: #0367fc;
    --two-use-color: #037ffc;
}

/* Estilo del contenedor principal */
.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px; /* Desplaza el contenido hacia abajo para evitar la barra de navegación */
}

/* Estilo del contenedor principal del contenido */
.main {
    height: auto;
    width: 100%;
    padding: 30px;
}

/* Estilo de los contenedores de cajas flexibles */
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px; /* Espacio entre los elementos */
}

/* Estilo de las cajas flexibles */
.box {
    height: 130px;
    width: calc(50% - 20px); /* El 50% garantiza dos elementos en una fila con margen */
    border-radius: 1rem;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease;
}

    /* Cambio de tamaño al pasar el ratón por encima */
    .box:hover {
        transform: scale(1.08);
    }

    /* Establecer el fondo de las primeras cuatro cajas */
    .box:nth-child(1),
    .box:nth-child(2),
    .box:nth-child(3),
    .box:nth-child(4) {
        background-color: var(--two-use-color);
    }

    /* Estilo de las imágenes en las cajas */
    .box img {
        height: 50px;
    }

    /* Estilo del texto en las cajas */
    .box .text {
        color: white;
    }

/* Estilo del texto de temas */
.topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Estilo del encabezado de tema */
.topic-heading {
    font-size: 30px;
    letter-spacing: 3px;
}

/* Estilo para eliminar el subrayado de los enlaces y heredar el color del texto */
.no-link-style {
    text-decoration: none;
    color: inherit;
}

/* Estilos para pantallas de tamaño máximo de 1024px */
@media (max-width: 1024px) {
    svg {
        display: none;
    }

    .topic-heading {
        font-size: 15px; /* Cambia el tamaño del texto para pantallas más pequeñas */
    }
}
