@model Gestor.Models.DetalleAlternativa

@{
    ViewData["Title"] = "AgregarDetalleAlternativa";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AgregarDetalleAlternativa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Enlaces a los archivos de hojas de estilo personalizados -->

    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @using (Html.BeginForm("AgregarDetalleAlternativa", "DetalleAlternativa", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <form asp-action="AgregarDetalleAlternativa">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="idBeneficiario" class="control-label">Número de identificación</label>
                <input asp-for="idBeneficiario" class="form-control" />
                <span asp-validation-for="idBeneficiario" class="text-danger"></span>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h4 style="text-align:center;">Agregar detalles de alternativas</h4>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Alternativa</label>
                                <select asp-for="NombreAlternativa" class="form-select">
                                    <!-- Opciones para seleccionar una alternativa -->
                                </select>
                                <span asp-validation-for="NombreAlternativa" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Otros campos de entrada de datos -->
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="Proforma">Foto de proforma</label>
                                <input asp-for="Proforma" type="file" name="Proforma" class="form-control" />
                                <span asp-validation-for="Proforma" class="text-danger"></span>
                            </div>
                            <input type="submit" value="Agregar" class="btn btn-primary btn-sm btn-icon-text">
                            <!-- Enlace para ir a la lista de beneficiarios -->
                            @Html.ActionLink("Lista de beneficiarios", "ListarBeneficiario", "Beneficiario", new { id = Model.idBeneficiario }, new { @class = "btn btn-danger btn-sm" })
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    <!-- Scripts de jQuery y Bootstrap -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
