@model List<MontoPorMesViewModel>

<h2>Monto Total por Mes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Mes y Año</th>
            <th>Monto Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Mesanio</td>
                <td>@item.MontoTotal.ToString("C")</td> <!-- Formatea el monto como moneda -->
            </tr>
        }
    </tbody>
</table>
