@model Gestor.UI.Models.MontosTotalesViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>CantidadTotalBeneficiaruos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <div id="TotalPorMes" class="card mb-4 contenedor-div" style="text-align:center;">
        <div class="card-body">
            <h4>Montos totales por mes</h4>
            <hr />

            @if (Model.MontoPorMes != null && Model.MontoPorMes.Any())
            {
                <table class="table table-hover table-bordered results">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MontoPorMes)
                        {
                            <tr>
                                <td>@item.Mesanio</td>
                                <td>@item.MontoTotalMes.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @Html.ActionLink("Regresar a montos totales", "MontosTotales","DetalleAlternativa", new { @class = "btn btn-danger btn-sm" })
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}